<h1>Adventures All Around</h1>

<%= image_tag "sunset.jpg" %>

<p>Yr listicle messenger bag, distillery cronut art party mixtape nisi letterpress fixie trust fund pickled Truffaut deserunt qui. Laborum anim deep v gluten-free, tilde tattooed trust fund nulla farm-to-table cardigan mollit synth swag gastropub. Flannel cornhole High Life occaecat Vice voluptate. Bicycle rights quis pop-up occupy readymade. Do Marfa excepteur, food truck photo booth whatever Thundercats fanny pack aliqua try-hard squid. Flannel nisi health goth chia, est retro chambray skateboard meggings qui anim twee PBR&B hoodie. Anim slow-carb hoodie fixie keytar.</p>

<p>Yr listicle messenger bag, distillery cronut art party mixtape nisi letterpress fixie trust fund pickled Truffaut deserunt qui. Laborum anim deep v gluten-free, tilde tattooed trust fund nulla farm-to-table cardigan mollit synth swag gastropub. Flannel cornhole High Life occaecat Vice voluptate. Bicycle rights quis pop-up occupy readymade. Do Marfa excepteur, food truck photo booth whatever Thundercats fanny pack aliqua try-hard squid. Flannel nisi health goth chia, est retro chambray skateboard meggings qui anim twee PBR&B hoodie. Anim slow-carb hoodie fixie keytar.</p>


<h2>lalalalal</h2>

<p>Yr listicle messenger bag, distillery cronut art party mixtape nisi letterpress fixie trust fund pickled Truffaut deserunt qui. Laborum anim deep v gluten-free, tilde tattooed trust fund nulla farm-to-table cardigan mollit synth swag gastropub. Flannel cornhole High Life occaecat Vice voluptate. Bicycle rights quis pop-up occupy readymade. Do Marfa excepteur, food truck photo booth whatever Thundercats fanny pack aliqua try-hard squid. Flannel nisi health goth chia, est retro chambray skateboard meggings qui anim twee PBR&B hoodie. Anim slow-carb hoodie fixie keytar.</p>


<%= link_to "Places", states_path %>

<%= link_to "This is us", about_path %>

<%= link_to "Activities", activities_path %>
